.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/banner-home.png); // Usando a imagem com nome limpo
  background-repeat: no-repeat;
  background-size: cover;

  & > .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1140px;
    gap: 25px;
    margin-top: 100px; // Mantendo o ajuste que fizemos

    & > h1 {
      color: #FFFFFF; // Mantendo a cor branca que definimos
      font-size: var(--font-size-title);
      font-weight: 700;
      max-width: 900px; // Mantendo o ajuste de largura
      text-transform: uppercase;
    }

    & > h2 {
      color: #FFFFFF; // Mantendo a cor branca que definimos
      font-size: var(--font-size-subtitle);
      font-weight: 500;
      max-width: 750px; // Mantendo o ajuste de largura
    }

    @media (max-width: 1280px) {
      width: 90vw;
    }

    @media (max-width: 992px) {
      & > h1 {
        max-width: 670px;
      }

      & > h2 {
        max-width: 500px;
      }
    }
  }
}