.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: var(--primary-color);

  & > .nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;

    & > img {
      width: 100px;
      height: auto;
    }

    & > .nav-content {
      & > .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 25px;
        list-style: none;

        & > li > a {
          cursor: pointer;
          color: var(--tertiary-color);
          font-size: var(--font-size-small);
          font-weight: 500;
          text-decoration: none;
          text-transform: uppercase;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: #f2ffbc;
          }
        }
      }
    }

    & > .responsive-button {
      display: none;
      cursor: pointer;
      background-color: transparent;

      & > svg {
        color: var(--tertiary-color);
      }
    }
  }

  @media (max-width: 1280px) {
    & > .nav-container {
      width: 90vw;
    }
  }

  @media (max-width: 1000px) {
    & > .nav-container {
      .desktop-button {
        display: none;
      }
      & > .nav-content {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        width: 100%;
        padding: 0;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--primary-color);
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out,
          padding 0.3s ease-in-out;

        & > .nav-links {
          flex-direction: column;
          width: 100%;
          gap: 30px;
        }

        &.active {
          opacity: 1;
          max-height: 400px;
          padding: 25px 0;
        }
      }

      & > .responsive-button {
        display: flex;
      }
    }
  }
}