.brands-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70vh;
  padding: 5em 0;

  & > .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1140px;
    gap: 25px;
    text-align: center;

    & > .text-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 18px;

      & > h2 {
        max-width: 500px;
        font-size: var(--font-size-subtitle);
        font-weight: 700;
        color: var(--font-color);
        text-transform: uppercase;
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 50%;
          height: 3px;
          background-color: var(--border-color, var(--font-color));
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -5px;
        }
      }
    }

    & > .cards-container {
      display: flex;
      width: 100%;
      gap: 45px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      & > .card {
        display: flex;
        align-items: center;

        & > img {
          width: 250px;
          height: auto;
          background-size: cover;
          object-fit: cover;
        }
      }
    }

    @media (max-width: 1280px) {
      width: 90vw;
      & > .cards-container {
        gap: 30px;
        & > .card > img {
          width: 200px;
        }
      }
    }
    
    @media (max-width: 768px) {
        & > .cards-container > .card > img {
            width: 160px;
        }
    }
  }
}