.footer-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 4em 2em;
  background-color: var(--primary-color);

  & > span {
    color: var(--tertiary-color);
    font-size: var(--font-size-default);
  }
}