.products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70vh;
  padding: 5em 0;

  & > .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1140px;
    gap: 60px;
    text-align: center;

    & > .text-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 18px;

      & > h2 {
        max-width: 500px;
        font-size: var(--font-size-subtitle);
        font-weight: 700;
        color: var(--font-color);
        text-transform: uppercase;
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 50%;
          height: 3px;
          background-color: var(--border-color, var(--font-color));
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -5px;
        }
      }

      & > h3 {
        color: var(--quaternary-color);
        font-weight: 700;
        font-size: var(--font-size-subtext);
      }
    }

    & > .cards-container {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);

      & > .card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;

        & > .image-content {
          width: 50%;
          height: 295px;
          overflow: hidden;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;

          & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 1s ease-in-out, filter 1s ease-in-out;
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            transition: background-color 1s ease-in-out;
            z-index: 1;
          }

          &:hover img {
            transform: scale(1.2);
            filter: brightness(0.7);
          }
        }

        & > .card-content {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 50%;
          height: 295px;
          gap: 10px;
          padding: 10px 20px;
          background-color: #f9fafa;

          & > h3 {
            font-size: var(--font-size-large);
            color: var(--primary-color);
          }
        }

        &:nth-of-type(3),
        &:nth-of-type(4) {
          flex-direction: row-reverse;
        }
      }
    }

    @media (max-width: 1280px) {
      width: 90vw;
    }

    @media (max-width: 768px) {
      & > .cards-container {
        gap: 25px;
        grid-template-columns: repeat(1, 1fr);

        & > .card {
          flex-direction: column;

          & > .image-content {
            width: 100%;
            max-height: 210px;
          }

          & > .card-content {
            width: 100%;
            height: auto;
            padding: 65px;
          }

          &:nth-of-type(3),
          &:nth-of-type(4) {
            flex-direction: column;
          }
        }
      }
    }
  }
}