:root {
  --primary-color: #073721;
  --secondary-color: #582707;
  --tertiary-color: #fff;
  --quaternary-colo: #fff;
  --background-color: #f3f2f2;
  --font-color: #333;
  --font-size-small: 0.875rem;
  --font-size-default: 1rem;
  --font-size-large: 1.25rem;
  --font-size-title: clamp(2.2rem, 5vw, 2.9rem);
  --font-size-subtitle: clamp(1.1rem, 2.2vw, 1.5rem);
  --font-size-subtext: clamp(1.5rem, 3vw, 1.875rem);
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}