.processes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70vh;
  padding: 5em 0;
  background-image: url(../../assets/banner-como-trabalhamos.png);

  & > .content {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1140px;
    gap: 80px;

    & > .text-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 18px;

      & > h2 {
        max-width: 500px;
        font-size: var(--font-size-subtitle);
        font-weight: 700;
        color: var(--font-color);
        text-transform: uppercase;
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 50%;
          height: 3px;
          background-color: var(--border-color, var(--font-color));
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -5px;
        }
      }

      & > h3 {
        color: var(--quaternary-color);
        font-weight: 700;
        font-size: var(--font-size-subtext);
      }
    }

    & > .cards-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 50px;

      & > .card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 320px;
        gap: 25px;

        & > .top-content {
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          width: 160px;
          height: 160px;
          border: 3px solid var(--primary-color);
          transition: all 0.4s ease;

          & > span {
            display: flex;
            position: absolute;
            top: -35px;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            font-size: 22px;
            font-weight: 700;
            border-radius: 100%;
            color: var(--tertiary-color);
            background-color: var(--primary-color);
          }

          & > svg {
            width: 65px;
            height: 65px;
          }
        }

        &:nth-of-type(2) {
          & > .top-content {
            background-color: var(--primary-color);

            & > svg > path {
              fill: var(--tertiary-color);
            }
          }
        }

        & > .bottom-content {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 10px;
          padding: 10px 20px;

          & > h3 {
            text-transform: uppercase;
            color: var(--primary-color);
            font-size: var(--font-size-large);
          }
        }

        &:hover {
          & > .top-content {
            background-color: var(--primary-color);
            & > svg > path {
              fill: #ffffff !important;
            }
          }
        }
      }
    }
    
    @media (max-width: 1280px) {
      width: 90vw;
    }
  }
}